/* genral formating */
body{
    background-color: black;
}
*{
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
/* navbar styling */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    position: fixed;
}
.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2.5em;
  }

.header .navbar ul li{
    margin:0em 0.5em;
}
/* .header .navbar ul li :hover{
    background-color: aqua;
} */

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   
   
   
   
   


/* start of carousel */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    display: inline-block;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
  }

  .content {
    justify-content: center;
    display: inline-block;
    position: relative;
    left: 36em;
    bottom: 27em;
  }
  
/* The best seller section */
.bestseller{
    display: flex;
}
.best{
    height: 515px;
    position: relative;
    margin-left: 10em;
}
.cart{
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
}
.best-content{
    margin: 5em 8em;
    text-align: center;
}
.best-content h1{
    font-size: 2rem;
    padding: 0em 4em;
}
.best-button{
    background-color: brown;
    height: 3em;
    border-radius: 20px;
    width: 150px;
    margin: 2em;
}

/* start of normal books */
.normal{
    margin-top:2em;
    margin-bottom: 8em;
}
.normal-img{
    height: 25em;
    margin-right: 5em;
}
.content-normal{
    /* text-align: left; */
    margin: 0em 4em ;
}
.title{
    font-size: 3em;
}
.author{
    font-size: 2em;
}
.Description{
    font-size: 1.5em;
}
.normal-img1{
    height: 25em;
    margin-left: 5em;
}
.normal-button{
    background-color: brown;
    height: 3em;
    border-radius: 20px;
    width: 150px;
    margin: 0.2em 2em;
}


/* about author section   */
.about-author{
    background-color: antiquewhite;
    height: 57vh;
}
.about-author-img{
    height: 25em;
    border: 2px solid black;
    bottom: 3rem;
    position: relative;
    left: 16em;
}
.about-author-content{
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    z-index: 2;
    position: relative;
    left: 9em;
    top: 9em;
    width: 30em;
    height: 25em;
    background-color: #0d0c22;
    padding: 2em 1em;
}
/* .the-author{
    font-size: 0.8rem;
} */
.author-name{
    font-size: 2em;
    margin: 0;
}
.author-cont{
    font-size: 1.2em;
}