.contact {
    background-color: #008080;
    color: white;
    /* height: 70vh; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 5em
}
.contact h1{
    font-size: 3.3em;
}
.details {
    padding-top: 4em;
    padding-left: 1em;
}

.tab {
    display: inline-block;
    margin-left: .5em;
}

/* .phone {
    padding: 6em 1 1 1em;
}

.email {
    padding-left: 1em;
}

.social {
    padding-left: 1em;
} */
/* .social{
    border: 2px solid white;
} */

.instagram {
    height: 4em;
    padding: .5em .5em 2em .5em;
    /* z-index: 1; */
    /* visibility: visible; */
}